[submodule "submodules/closure-compiler"]
	path = submodules/closure-compiler
	url = https://github.com/google/closure-compiler.git
[submodule "submodules/closure-library"]
	path = submodules/closure-library
	url = https://github.com/google/closure-library
